In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPRegressor, MLPClassifier
from sklearn import metrics
import matplotlib.pyplot as plt
from sklearn.feature_selection import SelectFromModel
from sklearn.preprocessing import StandardScaler

In [27]:
data=pd.read_csv("BestPictureNominations.csv")
data=data.drop(labels=['Win', 'SAG', 'WGA', 'DGA', 'PGA', 'BAFTA', 'OscarNoms', 'DirectingNom', 'ActingNom', 'ScreenplayNom', 'EditingNom'], axis=1)
#data=data[data['Year']!=2023]
train=data[data['Year']!=2020]
y_train=train['Best Picture Nominee']
X_train=train.drop(labels=['Best Picture Nominee', 'Title', "Year"], axis=1)

test=data[data['Year']==2020]
y_test=test['Best Picture Nominee']
X_test_titles=test['Title']
X_test=test.drop(labels=['Best Picture Nominee', "Title", "Year"], axis=1)

scaler = StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.fit_transform(X_test)

In [5]:
log_r = LogisticRegression()
#log_r.fit(X_train, y_train)
#log_r=SelectFromModel(log_r, prefit=True)
#X_train=log_r.transform(X_train)
#X_test=log_r.transform(X_test)
#log_r=LogisticRegression()
log_r.fit(X_train, y_train)
y_pred1 = log_r.predict_proba(X_test)
#print(X_test_titles)
#y_pred
output=pd.DataFrame()
output['Title']=X_test_titles
output['Probability']=y_pred1[:,1]
output.sort_values(by=['Probability'], axis=0, ascending=False)[:12]

                                        Title  Probability
135                        The Shape of Water     0.999949
130  Three Billboards Outside Ebbing Missouri     0.999892
133                                 Lady Bird     0.999808
138                      Call Me By Your Name     0.999618
136                                   Dunkirk     0.999413
132                                   Get Out     0.986045
144                              Darkest Hour     0.831685
137                                  I, Tonya     0.717351
142                                  The Post     0.405379
131                              The Big Sick     0.325617
150                         Blade Runner 2049     0.128498
145                           Florida Project     0.124929

In [8]:
rfr = RandomForestRegressor(n_estimators=200)
rfr.fit(X_train, y_train)
y_pred2 = rfr.predict(X_test)

#print(X_test_titles)
#print(y_pred)
output=pd.DataFrame()
output['Title']=X_test_titles
output['Probability']=y_pred2
output.sort_values(by=['Probability'], axis=0, ascending=False)[:12]

                                        Title  Probability
130  Three Billboards Outside Ebbing Missouri        1.000
135                        The Shape of Water        1.000
136                                   Dunkirk        1.000
138                      Call Me By Your Name        1.000
133                                 Lady Bird        0.995
132                                   Get Out        0.955
137                                  I, Tonya        0.945
142                                  The Post        0.690
144                              Darkest Hour        0.540
134                                  Mudbound        0.200
131                              The Big Sick        0.135
141                              Molly's Game        0.100

In [30]:
#log_r = LogisticRegression()
#log_r.fit(X_train, y_train)
#log_r=SelectFromModel(log_r, prefit=True)
#X_train=log_r.transform(X_train)
#X_test=log_r.transform(X_test)
nn = MLPRegressor(hidden_layer_sizes=(200,), activation='logistic')
nn.fit(X_train, y_train)
y_pred3 = nn.predict(X_test)


#print(X_test_titles)
#print(y_pred)
output=pd.DataFrame()
output['Title']=X_test_titles
output['Probability']=[round(100*min(i, 1),2) for i in y_pred3]
output.sort_values(by=['Probability'], axis=0, ascending=False)
#print(output.loc[41])

                             Title  Probability
61  The Trial of the Chicago Seven       100.00
66                       Nomadland       100.00
67           Promising Young Woman       100.00
64                          Minari        86.55
68                            Mank        82.11
71                  Sound of Metal        70.48
79                      The Father        56.74
63        Ma Rainey's Black Bottom        55.73
72      Borat Subsequent Moviefilm        51.80
73               News of the World        51.76
65             One Night in Miami…        47.87
62                     Da 5 Bloods        46.75
83                 The Mauritanian        36.42
69     Judas and the Black Messiah        31.84
84                           Rocks        26.29
78                            Soul        23.23
70                    Palm Springs        19.88
85                         The Dig        18.37
76     The Fourty Year Old Version        15.36
77                    Midnight Sky        15.36
80                        Hamilton        15.03
81                           Music        15.03
82                        The Prom        15.03
86                   Another Round        14.41
74                 The White Tiger        11.36
75                       First Cow         5.78

In [10]:
y_pred_ensemble=(y_pred1[:,1]+y_pred2+y_pred3)/3
output=pd.DataFrame()
output['Title']=X_test_titles
output['Probability']=y_pred_ensemble
output.sort_values(by=['Probability'], axis=0, ascending=False)[:12]
print()

Best picture winners

In [12]:
data=pd.read_csv("BestPictureNominations.csv")
data=data[data['Best Picture Nominee']==1]
#data=data[data['Year']!=2023]
train=data[data['Year']!=2017]


y_train=train['Win']
X_train=train.drop(labels=['Best Picture Nominee', 'Title', "Year", 'Win'], axis=1)

test=data[data['Year']==2017]
y_test=test['Win']
X_test_titles=test['Title']
X_test=test.drop(labels=['Best Picture Nominee', "Title", "Year", "Win"], axis=1)

#scaler = StandardScaler()
#X_train=scaler.fit_transform(X_train)
#X_test=scaler.fit_transform(X_test)

In [13]:
rfr = RandomForestRegressor(n_estimators=200)
rfr.fit(X_train, y_train)
y_pred2 = rfr.predict(X_test)
y_pred2=100*y_pred2/sum(list(y_pred2))
#print(X_test_titles)
#print(y_pred)
output=pd.DataFrame()
output['Title']=X_test_titles
output['Probability']=y_pred2
output.sort_values(by=['Probability'], axis=0, ascending=False)[:12]

                                        Title  Probability
135                        The Shape of Water    75.845411
130  Three Billboards Outside Ebbing Missouri    18.357488
133                                 Lady Bird     4.347826
138                      Call Me By Your Name     0.966184
132                                   Get Out     0.483092
136                                   Dunkirk     0.000000
142                                  The Post     0.000000
144                              Darkest Hour     0.000000
148                            Phantom Thread     0.000000

In [19]:
nn = MLPRegressor(hidden_layer_sizes=(2000,), activation='relu')
nn.fit(X_train, y_train)
y_pred3 = nn.predict(X_test)
y_pred3=y_pred3/sum(list(y_pred3))

#print(X_test_titles)
#print(y_pred)
output=pd.DataFrame()
output['Title']=X_test_titles
output['Probability']=[round(100*min(i, 1),2) for i in y_pred3]
output.sort_values(by=['Probability'], axis=0, ascending=False)[:12]

                                        Title  Probability
135                        The Shape of Water        44.08
130  Three Billboards Outside Ebbing Missouri        35.42
138                      Call Me By Your Name        13.18
142                                  The Post         9.24
148                            Phantom Thread         5.37
132                                   Get Out         4.24
133                                 Lady Bird        -3.02
144                              Darkest Hour        -3.22
136                                   Dunkirk        -5.28

Best Director

In [761]:
data=pd.read_csv("Director.csv")
#data=data[data['Year']!=2023]
train=data[data['Year']!=2023]
y_train=train['Win']
X_train=train.drop(labels=['Name', 'Movie', "Year", 'Win'], axis=1)

test=data[data['Year']==2023]
y_test=test['Win']
X_test_titles=test['Name']
X_test=test.drop(labels=['Name', "Movie", "Year", "Win"], axis=1)

In [762]:
nn = MLPRegressor(hidden_layer_sizes=(2000,), activation='logistic')
nn.fit(X_train, y_train)
y_pred3 = nn.predict(X_test)
y_pred3=y_pred3/sum(list(y_pred3))

#print(X_test_titles)
#print(y_pred)
output=pd.DataFrame()
output['Title']=X_test_titles
output['Probability']=[round(100*min(i, 1),2) for i in y_pred3]
output.sort_values(by=['Probability'], axis=0, ascending=False)

               Title  Probability
2  Christopher Nolan        84.73
1    Martin Scorsese         8.76
0      Justine Triet         5.28
3    Jonathan Glazer         5.28
4   Yorgos Lanthimos        -4.05

Best Actor

In [780]:
data=pd.read_csv("Actor.csv")
#data=data[data['Year']!=2023]
train=data[data['Year']!=2023]
y_train=train['Win']
X_train=train.drop(labels=['Name', 'Movie', "Year", 'Win'], axis=1)

test=data[data['Year']==2023]
y_test=test['Win']
X_test_titles=test['Name']
X_test=test.drop(labels=['Name', "Movie", "Year", "Win"], axis=1)

nn = MLPRegressor(hidden_layer_sizes=(500,), activation='relu')
nn.fit(X_train, y_train)
y_pred3 = nn.predict(X_test)
y_pred3=y_pred3/sum(list(y_pred3))

#print(X_test_titles)
#print(y_pred)
output=pd.DataFrame()
output['Title']=X_test_titles
output['Probability']=[round(100*min(i, 1),2) for i in y_pred3]
output.sort_values(by=['Probability'], axis=0, ascending=False)

            Title  Probability
0  Cillian Murphy        83.98
1   Paul Giamatti        14.13
4  Jeffrey Wright         5.17
3  Colman Domingo         5.05
2  Bradley Cooper        -8.33

Best Actress

In [779]:
data=pd.read_csv("Actress.csv")
#data=data[data['Year']!=2023]
train=data[data['Year']!=2023]
y_train=train['Win']
X_train=train.drop(labels=['Name', 'Movie', "Year", 'Win'], axis=1)

test=data[data['Year']==2023]
y_test=test['Win']
X_test_titles=test['Name']
X_test=test.drop(labels=['Name', "Movie", "Year", "Win"], axis=1)

nn = MLPRegressor(hidden_layer_sizes=(500,), activation='relu')
nn.fit(X_train, y_train)
y_pred3 = nn.predict(X_test)
y_pred3=y_pred3/sum(list(y_pred3))

#print(X_test_titles)
#print(y_pred)
output=pd.DataFrame()
output['Title']=X_test_titles
output['Probability']=[round(100*min(i, 1),2) for i in y_pred3]
output.sort_values(by=['Probability'], axis=0, ascending=False)

            Title  Probability
2      Emma Stone        43.82
1  Lily Gladstone        30.41
3  Carey Mulligan        11.45
0  Annette Bening         7.30
4   Sandra Huller         7.03